body {
	.letter-background1{
        background-color: #ffbd54;
        padding-right: 0mm;
        padding-left: -3mm;
        margin-left: 300px;
        top: 30mm;
        padding-top: 1mm;
        top: 40px;
        width: 426mm;
        height: 434mm;
       
    }
  }
  body .letter-wrapper {
    border: 2pt solid;
    margin: auto;
    overflow: hidden;
    background-color: #fff;
    left: auto;
    top: 21mm;
    width: 222mm;
    height: 322mm;

    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: 393mm;
    width: 266mm;
  }
   .tri1{
        
        left: 247mm;
        top: 48mm;
        width: -29mm;
        height: 2mm;
        border-style: solid;
        border-width: 42pt 58pt 58pt 0;
        border-color: transparent #DC143C transparent transparent  !important;
        position: absolute;
        transform: rotate(359deg);
  }
  .rectbtm{
    left: -36mm;
    top: 357.5mm;
    width: 328mm;
    height: 27mm;
    background: #bd1e0e !important;
    transform: skewX(-50deg);
    position: absolute;
	}
  .topbox2{
    position: absolute;
    top: -9mm;
    left: 44mm;
    height: 46mm;
    width: 21mm;
    background-color: #f36e34;
    transform: skew(82deg 1deg);
    z-index: 1;
    transform: skew(-269deg, -63deg);
  }
  .topbox3{
    position: absolute;
    top: -1mm;
    left: -22mm;
    height: 53mm;
    width: 119mm;
    background-color: #a50c23;
    transform: skew(-760deg);
    z-index: 1;
  }

  .box1{
    position: absolute;
    left: -17mm;
    top: -256mm;
    height: 46mm;
    width: 112mm;
    background-color: #a50c23;
    transform: skew(-35deg);
    z-index: 1;
}

.box2{
  position: absolute;
  left: 248px;
  top: -256mm;
  height: 27mm;
  width: 206mm;
  background-color: #df7266;
  transform: skew(-6deg);

}
.line1{
  position: absolute;
  left: 5mm;
  top: 61mm;
  width: 8mm;
  height: 2mm;
  background-color: #d56e27;
  z-index: 2;
  transform: rotate(47deg);
}
.line2{
  position: absolute;
  left: 5mm;
  top: 61mm;
  width: 8mm;
  height: 2mm;
  background-color: #d56e27;
  z-index: 2;
  transform: rotate(-54deg);
}
.line3{
  position: absolute;
  left: 5mm;
  top: 73mm;
  width: 8mm;
  height: 2mm;
  background-color: #d56e27;
  transform: rotate(-49deg);
}
.line4{
  position: absolute;
  left: 5mm;
  top: 73mm;
  width: 8mm;
  height: 2mm;
  background-color: #d56e27;
  transform: rotate(52deg);
}
.line5{
  position: absolute;
  left: 5mm;
  top: 85mm;
  width: 8mm;
  height: 2mm;
  background-color: #d56e27;
  transform: rotate(44deg);
}
.line6{
  position: absolute;
  left: 5mm;
  top: 85mm;
  width: 8mm;
  height: 2mm;
  background-color: #d56e27;
  transform: rotate(-46deg);
}
.line7{
  position: absolute;
  left: 249mm;
  top: 344mm;
  width: 8mm;
  height: 2mm;
  background-color: #c52121;
  transform: rotate(-43deg);
}
.line8{
  position: absolute;
  left: 249mm;
  top: 344mm;
  width: 8mm;
  height: 2mm;
  background-color: #c52121;
  transform: rotate(-139deg);
}
.line9{
  position: absolute;
  left: 249mm;
  top: 333mm;
  width: 9mm;
  height: 2mm;
  background-color: #c52121;
  transform: rotate(-43deg);
}
.line10{
  position: absolute;
  left: 249mm;
  top: 333mm;
  width: 9mm;
  height: 2mm;
  background-color: #c52121;
  transform: rotate(-130deg);
}
.line11{
  position: absolute;
  left: 249mm;
  top: 321mm;
  width: 9mm;
  height: 2mm;
  background-color: #c52121;
  transform: rotate(-43deg);
}
.line12{
  position: absolute;
  left: 249mm;
  top: 321mm;
  width: 9mm;
  height: 2mm;
  background-color: #c52121;
  transform: rotate(-126deg);
}
  

  body .letter-wrapper .letter-content header {
	position: absolute;
	left: 0mm;
	top: 0mm;
	width: 100%;
	height: 45mm;
	
  }
  
  body .letter-wrapper .letter-content header .letter-org-logo img{
    position: absolute;
    top: 7mm;
    left: 7mm;
    width: 54mm;
    height: 42mm;
    z-index: 3;
  }
  body .letter-wrapper .letter-content header .letter-org-details {
    position: absolute;
    top: 26mm;
    width: 100%;
    height: auto;
    font-size: 9pt;
    text-align: center;
    font-weight: 100;
	}
  body .letter-wrapper .letter-content header .letter-ref {
	    /* font-weight: bold; */
        position: absolute;
        left: 26mm;
        top: 79mm;
        width: 50%;
        height: auto;
        font-size: 18pt;
  }
  body .letter-wrapper .letter-content header .letter-date {
    font-weight: bold;
    position: absolute;
    left: 173mm;
    top: 80mm;
    width: 30%;
    height: auto;
    font-size: 17pt;
    /* font-family: bold; */
  }
  body .letter-wrapper .letter-content .letter-body {
	position: absolute;
	left: 0mm;
	top: 45mm;
	width: 100%;
	height: 200mm;
  }
  body .letter-wrapper .letter-content .letter-body .letter-body-to {
    position: absolute;
    left: 23mm;
    top: 45mm;
    width: 70mm;
    height: 47mm;
    font-family: serif;
    /* font-weight: bold; */
    font-size: 17pt;
    margin: 0mm;
  }
  body .letter-wrapper .letter-content .letter-body .letter-body-subject {
	position: absolute;
	left: 0mm;
	top: 50mm;
	width: calc(100% - 45mm);
	height: 20mm;
	margin-left: 15mm;
	margin-right: 15mm;
	font-size: 15pt;
	font-weight: bold;
  }
  body .letter-wrapper .letter-content .letter-body .letter-body-salutation {
	position: absolute;
	left: 0mm;
	top: 70mm;
	width: auto;
	height: auto;
	margin-left: 15mm;
	font-weight: bold;
	font-size: 15pt;
  }
  body .letter-wrapper .letter-content .letter-body .letter-body-message {
	position: absolute;
	left: 7mm;
	top: 84mm;
	width: auto;
	height: 115mm;
	margin-left: 15mm;
	margin-right: 15mm;
  }
  body .letter-wrapper .letter-content .letter-body .letter-body-message p {
	    font-size: 23pt;
    text-indent: 3mm;
    font-family: unset;
    overflow: auto;
    text-align: justify;
  }
  body .letter-wrapper .letter-content .letter-body .letter-body-sign {
    position: absolute;
    left: 164mm;
    top: 265mm;
    width: auto;
    height: 43mm;
    border-top: 4px solid black;
    
    margin-left: 19mm;
    margin-right: 15mm;
    margin-top: 2mm;
    font-size: 17pt;
    line-height: 2.6;
    font-weight: bold;
  }
  body .letter-wrapper .letter-content .letter-body .letter-body-sign p{
    position: absolute;
    left:10mm;
    top:10mm;
    border-bottom: solid;
  }
  body .letter-wrapper .letter-content .letter-footer {
	position: absolute;
	left: 0mm;
	top: 256mm;
	width: 100%;
	height: 35mm;
  }
  body .letter-wrapper .letter-content .letter-footer .fa {
	    position: absolute;
    left: -13mm;
    top: 1mm;
    width: 11mm;
    height: 7mm;
    border-radius: 53%;
    padding: 3mm;
    margin-right: 3mm;
    background-color: #16d539;
    font-size: 11pt;
  }
  body .letter-wrapper .letter-content .letter-footer .letter-org-website {
    position: absolute;
    left: 11mm;
    top: 85mm;
    font-size: 27pt;
    font-family: serif;
    font-weight: bold;
    color: #b17d1e;
  }
  
 
  body .letter-wrapper .letter-content .letter-footer .letter-org-address {
	position: absolute;
    left: 116mm;
    top: 22mm;
    width: 100%;
    height: auto;
    margin-left: 15mm;
    margin-right: 15mm;
    font-size: 8pt;
  }
  

  /*body*/
  