

.certificate-wrapper {
  width: 210mm;
  height: 297mm;
  background-color: rgb(255, 255, 255);
  line-height: normal;
  border: 1pt solid white;
  margin-left: 46mm;
  position: relative;

}



.certificate-wrapper  .boxx1{
  background-color: rgb(46, 46, 48);
    width: 48mm;
    height: 34mm;
    left: 33mm;
    padding: 0%;
    transform: skew(43deg);
    position: absolute;
    top: 285mm;
    margin-top: -154px;

  }

.certificate-wrapper  .boxx2{
  width: 1px;
    height: 668px;
    border-left: 0px solid transparent;
    position: absolute;
    margin-top: 186px;
    border-right-width: 118px;
    border-right-style: solid;
    border-right-color: transparent;
    border-bottom: 126px solid rgb(76, 78, 80);
    }

    .certificate-wrapper  .triRight{
      width: 0;
      height: 0;
      border-top: 0px solid transparent;
      border-bottom: 109px solid transparent;
      border-right: 102px solid rgb(76, 78, 80);
      margin-top: 948px;
      margin-left: 692px;
    
    }

.certificate-wrapper .boxx3{
   background-color: rgb(78, 40, 35);
       width: 65mm;
      height: 20mm;
      left: -14.5mm;
      padding: 0%;
      position: absolute;
      top: 276mm;
      margin-top: -64px;
      clip-path: polygon(56px -127px, 22.17% 101.86%, 100.86% 106.62%);
     }

.certificate-wrapper  .tri4{
  background-color: red;
  width: 112mm;
  height: 20mm;
  margin-left: 332px;
  transform: skew(43deg);
  position: absolute;
  top: 289.80mm;
  margin-top: -119px;
}

.certificate-wrapper  .tri5{
  background-color: white;
    width: 15mm;
    height: 13mm;
    left: 46mm;
    padding: 0%;
  transform: skew(-136deg);
  position: absolute;
  top: 186.9mm;
  margin-top: 237.73px;
}

.certificate-wrapper  .tri6{
  background-color: white;
    width: 15mm;
    height: 13mm;
    left: 46mm;
    padding: 0%;
  transform: skew(136deg);
  position: absolute;
  top: 276mm;
  margin-top: -50px;

}

.certificate-wrapper  .tri7{
  background-color: white;
  width: 15mm;
  height: 13mm;
  left: 17mm;
  padding: 0%;
  transform: skew(-136deg);
  position: absolute;
  top: 186.9mm;
  margin-top: 237.73px;
}

.certificate-wrapper  .tri8{
  background-color: white;
  width: 15mm;
  height: 13mm;
  left: 17mm;
  padding: 0%;
  transform: skew(136deg);
  position: absolute;
  top: 276mm;
  margin-top: -50px;
}

.certificate-wrapper .strip{
  background-color: rgb(47, 37, 37);
    width: 210mm;
    height: 19mm;
    left: -87mm;
    right: -87mm;
    position: absolute;
    top: 278mm;
    margin: auto;

}

.certificate-wrapper .certificate-content {
    top: 25mm;
    right: 25mm;
    bottom: 25mm;
    left: 25mm;
    position: absolute;
  }
  .certificate-wrapper .certificate-content .title {
    position: absolute;
    left: 0mm;
    text-align: center;
    right: 103mm;
    top: 15pt;
    font-family : sub;
    font-size: 50pt;
    line-height: normal;
  }
  
  .certificate-wrapper .certificate-content .initial-content {
    position: absolute;
    left: 11mm;
    top: 50mm;
    right: 114mm;
    font-size: 14pt;
    text-align: center;
    margin: auto;
    position: absolute;
  }
  
  .certificate-wrapper .certificate-content .strip-content {
    position: absolute;
    left: -91mm;
    color: rgb(155, 148, 133);
    top: 172mm;
    right: -87mm;
    font-size: 14pt;
    text-align: center;
    margin: auto;
    position: absolute;


  }

  .certificate-wrapper .certificate-content .main-content {
    position: absolute;
    left: 22mm;
    top: 90mm;
    right: 55mm;
    font-size: 14pt;
    text-align: left;
    margin: auto;
    position: absolute;
    border : none;
    line-height : normal;
  }
  
  .party-phone
 {
      font-family: "Roboto Slab", serif;
      font-size: 15px;
      position: relative;
      top: -758pt;
      left: 530pt;
 }

 .party-email
 {
      font-family: "Roboto Slab", serif;
      font-size: 15px;
      position: relative;
      top: -750pt;
      left: 530pt;
 }

 .party-location {
    font-family: "Roboto Slab", serif;
    font-size: 15px;
  position: relative;
  top: -746pt;
  left: 530pt;
 }

 .certificate-content .title{
  font-family: 'Roboto', sans-serif;
  font-size: 39px;
  position: relative;
  top: -808pt;
  left: 193pt;
 }

 .certificate-content .title span {
  font-weight: normal;
}

.certificate-content  .initial-content{
  font-family: 'Roboto', sans-serif;
  font-size: 51px;
  color: rgb(212, 162, 152);
  position: relative;
  top: -672pt;
  left: 241pt;
  font-weight: 100;
}

.certificate-content  .sign{
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  color: black;
  position: relative;
  top: -310pt;
  left: 531pt; 
}

.certificate-content  .sign1{
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  color: rgb(193, 105, 88);
  position: relative;
  top: -310pt;
  left: 507pt; 
}

.certificate-content  .sign2{
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  color: rgb(168, 165, 165);
  position: relative;
  top: -310pt;
  left: 542pt; 
}

.certificate-content  .strip-content{
  font-family: sans-serif;
  font-size: 16px;
  color: rgb(124, 120, 120);
  position: relative;
  top: -201pt;
  left: 170pt;
}

.certificate-content  .strip-content1{
  font-family: sans-serif;
  font-size: 16px;
  color: rgb(196, 192, 192);
  position: relative;
  top: -266pt;
  left: 403pt;
}

.certificate-content  .main-content {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 15px;
  color: rgb(168, 165, 165);
  position: relative;
  top: -672pt;
  left: 241pt;
}
