.letter-wrapper {
  margin: auto;
  background-color: white;
  width: 210mm;
  height: 297mm;
  position: relative;
  border: 0.5mm solid;
  overflow: hidden;
}

.letter-wrapper .letter-background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.letter-wrapper .letter-background .left-pannel {
  position: absolute;
  left: 10mm;
  width: 50mm;
  height: 277mm;
  top: 20mm;
  background: #44A6CD;
  z-index: 0;
}

.letter-wrapper .letter-background .left-pannel-top {
  position: absolute;
  left: 10mm;
  width: 50mm;
  height: 35mm;
  top: 20mm;
  background: #AFD2E7;
  z-index: 0;
}

.letter-wrapper .letter-content {
  height: 100%;
  width: 100%;
  z-index: 9;
  position: absolute;
}

.letter-wrapper .letter-content .letter-org-name {
  position: absolute;
  left: 16mm;
  top: 24mm;
  font-size: 30pt;
  text-align: center;
  color: #2D5687;
}

.letter-wrapper .letter-content .letter-org-details {
  position: absolute;
  left: 20mm;
  top: 39mm;
  font-size: 12pt;
  text-align: center;
  color: #2D5687;
}

.letter-wrapper .letter-content .letter-ref {
  position: absolute;
  left: 162mm;
  top: 35mm;
  font-size: 10pt;
  color: #3e6277;
}

.letter-wrapper .letter-content .letter-date {
  position: absolute;
  right: 15mm;
  top: 45mm;
  font-size: 11pt;
  color: #3e6277;
}

.letter-wrapper .letter-content .letter-body-to {
  position: absolute;
  left: 70mm;
  top: 53mm;
  font-size: 11pt;
  color: #3e6277;
}

.letter-wrapper .letter-content .letter-body {
  position: absolute;
  left: 70mm;
  right: 15mm;
  top: 100mm;
  font-size: 10pt !important;
  color: #3e6277;
}

.letter-wrapper .letter-content .letter-contact-info {
  position: absolute;
  left: 1mm;
  right: 15mm;
  top: 58mm;
  font-size: 10pt !important;
  color: #3e6277;
}

.letter-wrapper .letter-content .letter-body-subject {
  font-weight: bold;
}

.letter-wrapper .letter-content .letter-body-salutation {
  margin-bottom: 0;
}

.letter-wrapper .letter-content .letter-body-message {
  margin-bottom: 20mm;
}

.letter-wrapper .letter-content .letter-body-message p {
  font-size: 10pt;
  text-align: justify;
}

.letter-wrapper .letter-content .letter-body-sign-name {
  margin: 0mm;
  font-size: 14pt;
  font-weight: bold;
}

.letter-wrapper .letter-content .letter-body-sign-designation,
.letter-wrapper .letter-content .letter-body-sign p {
  margin: 0mm;
}

.letter-wrapper .letter-content .bi {
  width: 60px;
  height: 60px;
  border: 3px solid white;
  border-radius: 50%;
  background-color: #44A6CD;
  color: white;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 10px auto;
}

.letter-wrapper .letter-content .letter-org-website,
.letter-wrapper .letter-content .letter-org-phone,
.letter-wrapper .letter-content .letter-org-email,
.letter-wrapper .letter-content .letter-org-address {
  position: absolute;
  left: 23mm;
  font-size: 9pt;
  z-index: 300;
  color: white;
  align-items: center;
}

.letter-wrapper .letter-content .letter-org-phone {
  top: 15mm;
}

.letter-wrapper .letter-content .letter-org-website {
  top: 55mm;
}

.letter-wrapper .letter-content .letter-org-email {
  top: 96mm;
}

.letter-wrapper .letter-content .letter-org-address {
  top: 135mm;
}

.letter-wrapper .letter-content .letter-org-address address {
  margin: 0;
  width: 27mm;
}