body > .letter-wrapper {
  box-shadow: 0 0 10px;
}

.letter-wrapper {
  border: 0;
  margin: auto;
  overflow: hidden;
  background-color: white;
  left: auto;
  top: auto;
  width: 210mm;
  height: 297mm;
  position: relative;
}

.letter-wrapper .letter-background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.letter-wrapper .topbox1 {
  position: absolute;
  left: 103mm;
  top: -52mm;
  width: 75mm;
  height: 77mm;
  background-color: #135fa7;
  transform: rotate(47deg);
}

.letter-wrapper .topbox2 {
  position: absolute;
  left: 85mm;
  top: 229mm;
  width: 1mm;
  height: 113mm;
  background-color: #414248;
  transform: rotate(130deg);
}

.letter-wrapper .topbox3 {
  position: absolute;
  left: 178mm;
  top: -15mm;
  width: 2mm;
  height: 70mm;
  background-color: #414248;
  transform: rotate(47deg);
}

.letter-wrapper .topboxtitle {
  position: absolute;
  left: 142mm;
  top: 38mm;
  width: 15mm;
  height: 2mm;
  background-color: #414248;
  transform: rotate(47deg);
}

.letter-wrapper .bottombox1 {
  position: absolute;
  left: 43mm;
  top: 259mm;
  width: 83mm;
  height: 29mm;
  z-index: 3;
  transform: skewX(45deg);
  background-color: #1d243e;
}

.letter-wrapper .bottombox2 {
  position: absolute;
  left: -10mm;
  top: 267mm;
  width: auto;
  height: auto;
  border-style: solid;
  border-width: 0mm 0mm 84mm 92mm;
  z-index: 2;
  border-color: transparent transparent transparent #104b83;
  transform: rotate(40deg);
}

.letter-wrapper .bottombox3 {
  position: absolute;
  left: 82mm;
  top: 259mm;
  width: 120mm;
  height: 29mm;
  z-index: 1;
  background-color: #1d243e;
}

.l-shape::before,
.l-shape::after {
  content: '';
  position: absolute;
  background-color: #f0f0f0;
}

.l-shape::before {
  width: 32px;
  height: 3px;
  top: 118px;
  left: 453px;
  transform: rotate(142deg);
  background-color: #454544;
}

.l-shape::after {
  width: 3px;
  height: 270px;
  top: -107px;
  background-color: #454544;
  transform: rotate(-42deg);
  left: 365px;
}

.letter-wrapper .letter-background .rectright {
  position: absolute;
  left: 147px;
  top: 248mm;
  width: 1mm;
  height: 10mm;
  background: #414248 !important;
  transform: rotate(44deg);
  position: absolute;
}

.letter-wrapper .letter-background .shape1 {
  left: 89mm;
  top: -13.7mm;
  width: 14mm;
  height: 37mm;
  border-left: 2.9pt solid #135fa7 !important;
  border-bottom: 2.9pt solid #135fa7 !important;
  transform: rotate(-43deg);
  position: absolute;
}

.letter-wrapper .letter-background .shape2 {
  left: 144mm;
  top: 4.3mm;
  width: 67mm;
  height: 9mm;
  border-left: 5.7pt solid #135fa7 !important;
  border-bottom: 5.7pt solid #135fa7 !important;
  transform: rotate(-43deg);
  position: absolute;
}

.letter-wrapper .letter-background .shape3 {
  left: 182mm;
  top: -7.7mm;
  width: 23mm;
  height: 27mm;
  border-left: 2.9pt solid #000000 !important;
  border-bottom: 2.9pt solid #000000 !important;
  transform: rotate(-43deg);
  position: absolute;
}

.letter-wrapper .letter-background .shape4 {
  left: 187mm;
  top: -14.7mm;
  width: 17mm;
  height: 38mm;
  border-left: 2.9pt solid #135fa7 !important;
  border-bottom: 2.9pt solid #135fa7 !important;
  transform: rotate(-43deg);
  position: absolute;
}

.letter-wrapper .letter-content {
  height: 100%;
  width: 100%;
  z-index: 9;
  position: absolute;
}

.letter-wrapper .letter-content .letter-org-logo {
  font-weight: bold;
  /* font-size: 62px; */
  position: absolute;
  left: 15mm;
  top: 20mm;
  width: 38mm;
}

.letter-wrapper .letter-content .letter-org-logo img {
  width: 100%;
  height: 100%;
}

.letter-wrapper .letter-content .letter-org-name {
  font-weight: bold;
  position: absolute;
  left: 50mm;
  top: 28mm;
  font-size: 18pt;
}

.letter-wrapper .letter-content .letter-org-details {
  position: absolute;
  left: 50mm;
  top: 36mm;
  font-size: 12pt;
}

.letter-wrapper .letter-content .letter-ref {
  position: absolute;
  left: 15mm;
  top: 55mm;
  width: 50%;
  height: auto;
  font-size: 10pt;
}

.letter-wrapper .letter-content .letter-date {
  position: absolute;
  right: 15mm;
  top: 55mm;
  height: auto;
  font-size: 11pt;
}

.letter-wrapper .letter-content .letter-body {
  position: absolute;
  left: 15mm;
  right: 15mm;
  top: 65mm;
  width: auto;
  height: auto;
  font-size: 12pt !important;
}

.letter-wrapper .letter-content .letter-body-to {
  width: 70mm;
  height: auto;
  margin: 0mm;
}

.letter-wrapper .letter-content .letter-body-subject {
  font-weight: bold;
}

.letter-wrapper .letter-content .letter-body-salutation {
  margin-bottom: 0;
}

.letter-wrapper .letter-content .letter-body-message {
  margin-bottom: 20mm;
}

.letter-wrapper .letter-content .letter-body-message p {
  font-size: 13pt;
  text-align: justify;
}

.letter-wrapper .letter-content .letter-body-sign .letter-body-sign-name {
  margin: 0mm;
  font-size: 14pt;
  font-weight: bold;
}

.letter-wrapper .letter-content .letter-body-sign .letter-body-sign-designation,
.letter-wrapper .letter-content .letter-body-sign p {
  margin: 0mm;
}

.letter-wrapper .letter-content .bi {
  border-radius: 100%;
  padding: 1mm;
  margin-right: 2mm;
  background-color: #1e4370;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  font-size: 12pt;
  width: 8mm;
  height: 8mm;
  display: inline-block;
}

.letter-wrapper .letter-content .letter-org-website {
  position: absolute;
  right: 8mm;
  bottom: 40mm;
  width: auto;
  height: auto;
  font-size: 13pt;
  font-weight: bold;
  vertical-align: middle;
}

.letter-wrapper .letter-content .letter-org-phone {
  position: absolute;
  left: 48mm;
  bottom: 20mm;
  height: auto;
  font-size: 9pt;
  z-index: 300;
  color: white;
  display: flex;
  align-items: center;
}

.letter-wrapper .letter-content .letter-org-email {
  position: absolute;
  left: 88mm;
  bottom: 20mm;
  z-index: 367;
  color: white;
  font-size: 9pt;
  display: flex;
  align-items: center;
}

.letter-wrapper .letter-content .letter-org-address address {
  margin: 0;
}

.letter-wrapper .letter-content .letter-org-address {
  position: absolute;
  left: 147mm;
  bottom: 14mm;
  z-index: 515;
  color: white;
  font-size: 9pt;
  vertical-align: bottom;
  width: 55mm;
  display: flex;
  align-items: center;
}